<nav class='navbar navbar-light bg-light justify-content-between bg-dark'>
  <div>
    <ul class='navbar-nav navbar-expand nav-pill mr-auto'>
      <a routerLink='/' routerLinkActive='currentlyActiveLink' class='text-secondary'><li class='nav-item mr-sm-2'>Home</li></a>
      <a routerLink='/about' routerLinkActive='currentlyActiveLink' class='text-secondary'><li class='nav-item mx-sm-2'>About</li></a>
      <a routerLink='/projects' routerLinkActive='currentlyActiveLink' class='text-secondary'><li class='nav-item mx-sm-2'>Projects</li></a>
      <a routerLink='/other' routerLinkActive='currentlyActiveLink' class='text-secondary'><li class='nav-item mx-sm-2'>Other</li></a>
    </ul>
  </div>
  <div>
    <form class='form-inline'>
      <input class='form-control mr-sm-2' type='text' placeholder='Username' aria-label='username' name='username' [(ngModel)]='username'>
      <input class='form-control mr-sm-2' type='password' placeholder='Password' aria-label='password' name='password' [(ngModel)]='password'>
      <button class='btn btn-outline-primary mr-sm-2' type='button' (click)='login(username, password)'>Login</button>
      <button class='btn btn-outline-secondary mr-sm-2' type='button' (click)='register()'>Register</button>
    </form>
  </div>
</nav>
