<div class='container-fluid'>
  <ul class='list-group-flush'>
    <li class='list-group-item'>
      <h4>Infosys Ltd</h4>
      <h6 class='mt-1'>Software Developer contracted to AT&T</h6>
    </li>
    <li class='list-group-item'>
      <h4>Revature</h4>
      <h6>Software Developer</h6>
    </li>
    <li class='list-group-item'>
      <h4>Walkabout Outdoors</h4>
      <h6>Landscaper</h6>
    </li>
    <li class='list-group-item'>
      <h4>FedEx Express</h4>
      <h6>Material Handler</h6>
    </li>
  </ul>
</div>
